@import url("messages/messages.css");
@import url("form.css");

* {
	margin: 0;
	padding: 0;
}

a img, frameset, fieldset { 
	border: 0;
}

a:visited {
}

a {
	color: #1f2a40;
	outline: medium none;
	text-decoration: underline;
}

p {
	margin: 0 0 0.5em;
}

h2, h3, h4, h5 {
	font-weight:300;
}

h2 {
	color: #3C3D40;
	font-size: 1.6em;
	font-weight: 700;
	margin: 0 0 25px;
}

h3 {
	color: #1f2a40;
	font-size: 1.1em;
	font-weight: bold;
	margin: 0 0 10px;
}

h4 {
	font-size: 1.12em;
	margin: 0 0 10px 0;
	color: #1f2a40;
	font-weight: bold;
}

h5 { 
	color: #1f2a40;
	font-weight: bold;
	margin: 0 0 0 0;
	font-size:1.12em;
}

.listings {
	list-style-type: none;
	margin: 0 0 20px;
}

.listing {
	clear: both;
	list-style-type: none;
	margin-bottom:5px;
	overflow: hidden;
	padding: 0 0 5px;
}

.listing img {
	float: left;
	margin-right: 8px;
	line-height: 0;
	position: relative;
}

dt {
	float: left;
	clear: left;
	width: 8em;
}

dd {
 	margin: 0 0 0 9em;
 	padding: 0 0 2.5em 0;
}

textarea, body, input, button, a.button {
	font-family: "lucida grande", lucida, tahoma, helvetica, arial, sans-serif !important;
}

body {
	background: url("background-body.png") repeat-x scroll 0 0 #EEEEEE;
	font-size: 80%;
}

#content {
	margin: 0 auto;
	width: 1200px;
}

#header, #footer {
	margin: 0 auto;
	width: 900px;
}

#header {
	height: 60px;
	position: relative;
	display: block;
}

#header h1 a {
	background: url("logo-header.png") no-repeat scroll 0 0 #1f2a40;
	display: block;
	height: 55px;
	left: 2px;
	position: relative;
	top: 0;
	width: 230px;
}

#header h1 a img {
	left: -9999px;
	position: relative;
}

#nav {
	position: absolute;
	right: 0;
	top: 20px;
	color: #ffffff;
}

#nav li {
	float: left;
	list-style-type: none;
	margin-left: 10px;
}

#nav li a {
	color: #FFFFFF;
	display: block;
	text-decoration: none;
	font-weight: bold;
}

#nav li a:hover {
	text-decoration: underline;
}


#content-container {
	background-color: #EEEEEE;
	padding: 10px;	
}

#content {
	background-color: #EEEEEE;
	padding: 10px;
}

#footerNav {
	height: 25px;
	width: 320px;
	margin:0 auto 1px auto;
	padding: 0 10px 0 10px;
}

#footerNav li {
	float: left;
	list-style-type: none;
}

#footerNav li a {
	color: #1f2a40;
	display: block;
	font-size: 1em;
	font-weight: bold;
	margin-right: 15px;
	-moz-border-radius: 0.2em;
	text-decoration: none;
	text-align: center;
}

#footerNav li a:hover {
	text-decoration: underline;
}

.sign {
	color: #1f2a40;
}
.sign ul {
	margin-left: 40px;
}

.sign li {
	margin: 5px;
}

.sign p {
	margin: 10px;
}

#mainCatgryNav, #usrMainCatgryNav, #usrActionNav {
	/*border:1px solid #ccc;
	border-width: 0 1px 1px 1px 1px;*/ 	
	height: 25px;
	width: 340px;
	margin:0 auto;
	margin-bottom: 10px; 
}

#usrActionNav {
	width: 380px;
	/*border:1px solid #ccc;
	border-width: 0 1px 1px 1px 1px;*/ 	
}

#usrMainCatgryNav {
	width: 380px;
	/*border:1px solid #ccc;
	border-width: 0 1px 1px 1px 1px;*/ 	
}

#mainCatgryNav li, #usrActionNav li, #usrMainCatgryNav li {
	float: left;
	list-style-type: none;
	margin-left: 1px;
}

#mainCatgryNav li a, #usrActionNav li a {
	color: #ffffff;
	background-color: #1f2a40;
	display: block;
	width: 100px;
	font-size: 1em;
	font-weight: bold;
	padding: 2px;
	border-radius: 0.2em;
	-moz-border-radius: 0.2em;
	text-decoration: none;
	text-align: center;
}

#usrActionNav li a {
	width: 120px;
}


#mainCatgryNav li a:hover, #usrMainCatgryNav li a:hover, #usrActionNav li a:hover  {
	color: #ffffff;
	background-color: #596274;
}

#usrMainCatgryNav li a {
	color: #1f2a40;
	display: block;
	width: 80px;
	font-size: 1em;
	font-weight: bold;
	padding: 2px;
	border-radius: 0.2em;
	-moz-border-radius: 0.2em;
	text-decoration: none;
	text-align: center;
}

#postPanelImgBox {
	border:1px solid #ccc;
	border-width: 0 1px 1px 1px 1px; 	
	height: 120px;
	width: 120px;
}


		
#smallImgBox {
	border:1px solid #ccc;
	border-width: 0 1px 1px 1px 1px;
	height: 30px;
	width: 50px;		
}


#footer {
	height: 90px;
	line-height: 1.5em;
	padding: 10px 0 30px;
}


#springsource {
	background:url("logo-springsource.png") no-repeat scroll 0 0 transparent;
	display: block;
	float: right;
	height: 40px;
	text-indent: -9999px;
	width: 157px;	
}

#nav-secondary {
	float: left;
	list-style-type: none;
	margin: 8px 0 0;
	text-align: right;
	width: 600px;
}

#nav-secondary li {
	display: block;
	float: left;
	margin: 0 10px 0 0;
}

#footer p {
	float: left;
	padding: 10px 0 0;
	text-align: left;
	text-shadow: 0 1px 0 #F1FBFF;
	width: 500px;
}

#connectedProfiles  {
	list-style-type: none;
	margin-bottom: 8px;
}

#connectedProfiles li {
	display: inline;
	margin-right: 8px;
}

#connectedAccounts li {
	padding-bottom: 12px;
}

#connectedAccounts li h4 img {
	display: block;
	float: none;
	max-height: 40px;
	max-width: 88px;
}

#intro {
	margin-bottom: 16px;
}

#appIcons a {
	margin-right:12px;
}

#appIcons img {
	max-height: 43px;
	max-width: 130px;
}

.sign {
	background-color: #FFFFFF;
	color: #1f2a40;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 5px;
	padding-bottom: 25px;
	width: 720px;
	margin:0 auto;
}

.comerror {
	background-color: #FFFFFF;
	color: #1f2a40;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 5px;
	padding-bottom: 25px;
	width: 720px;
	margin:0 auto;
}

#newPost {
	background-color: #FFFFFF;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 5px;
	padding-bottom: 25px;
	width: 750px;
	margin:0 auto;
}

.newPostPriceItem {
  	margin:2px;
  	height:30px;
  	width:auto;
  	float:left;
  	text-align:left;
}

#newPostPriceCurr {
	width: 60px;
}

#newPostPriceInput {
	width: 150px;
}

.clear {
	clear: both;
}

.newPostEmailItem {
  	margin:2px;
  	height:30px;
  	width:auto;
  	float:left;
  	text-align:left;
}

#newPostEmail {
	width: 250px;
}

#newPostAnonym {
	width: 15px;
}

#newPostAnonymTxt {
	width: 150px;
}



.postSearchPanel {
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	background-color: #1f2a40;
	color: #ffffff;
	width: 750px;
	height: 58px;
	margin:0 auto 0px auto;
	padding: 0 10px 0 10px;
}

.postSearchPanelSearch {
  	margin:2px 0 2px 0;
  	height:50px;
  	width:auto;
  	float:left;
  	text-align:left;
  	padding-left: 3px;
}

#postSearchPanelCatgry {
	color: #ffffff;
  	width:120px;
  	margin:2px 0 2px 0;
}

#postSearchPanelSearchLoc {
	color: #ffffff;
  	width:160px;
  	margin:2px 0 2px 0;
}

#postSearchPanelSearchText {
	color: #ffffff;
  	width:160px;
  	margin:2px 0 2px 0;
}

#postSearchPanelSearchRadius {
	color: #ffffff;
  	width:120px;
  	margin:2px 0 2px 0;
}

.postSearchPanelSearchRadius1 {
  margin: 0px 2px 2px 2px;
  height:auto;
  width:auto;
  float:left;
  text-align:left;
}

#postSearchPanelSearchMiles {
	margin: 1px 0 0 0;
	font-weight: bold;
	padding: 4px 0 2px 0;
}


.postSearchPanelSearch button {
	background-color: #eee;
	font-size: 1em;
	font-weight: bold;
	cursor: pointer;
	margin: 12px 0 0 0;
	color: #1f2a40;
}

.postSearchPanelSearch button:hover {
	background-color: #1f2a40;
	border: 1px solid #C6D880;
	color: #ffffff;
}

.postSearchPanelSearch button:active {
	background-color: #1f2a40;
	color: #ffffff;
	border: 1px solid #000;
}

.postSearchPanelSearchBttn {
}


#postListPanel {
	clear: both;
	border:1px solid #ccc;
	border-width: 0 1px 1px 1px 1px;
	background-color: #FFFFFF;	 	
	width: 750px;
	margin:0 auto;
	padding: 10px;
}

#postListPanel a {
	color: #1f2a40;
	text-decoration: none;
}

.postListPanelNavBar {
	color: #1f2a40;
	margin:0px;
  	width:auto;
  	float:left;
	font-size: 1.1em;
  	text-align:left;
  	margin-bottom: 10px;
}

#postListPanelHeader {
	width: 500px;
	font-weight: bold;
}

#postListPanelSortBy{
	width: 250px;
	text-align: right;
	font-size: 0.95em;
}

#postListPanelHRule {
	border-top: 1px solid #ccc;
	width: 750px;
	margin:0 auto;
}

#postListPanelSortBy a {
	color: #ffffff;
	background-color: #1f2a40;
	width: 50px;
	font-size: 0.85em;
	font-weight: normal;
	border-radius: 0.2em;
	-moz-border-radius: 0.2em;
	text-decoration: none;
	text-align: center;
	padding: 3px;
}

#postListPostPanel {
	border-bottom: 1px solid #ccc;
	/*border-left: 1px solid #ccc;
	border-right: 1px solid #ccc; */	
	height: 80px;
	width: 740px;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
}

#postListPostPanel:hover {
	background-color: #1f2a40;
	color: #ffffff;
}

.postListPostPanelTitleItem {
	margin:0px;
  	height:20px;
  	width:auto;
  	float:left;
  	text-align:left;
}

#postListPostPanelTitle {
	height: 18px;
	width: 600px;
	font-size: 1em;
	font-weight: bold;
	/*border:1px solid #ccc;*/
}

#postListPostPanelDate{
	height: 18px;
	width: 100px;
	text-align: right;
}

.postListPostPanelHorzItem {
  	margin:2px;
  	height:60px;
  	width:auto;
  	float:left;
  	text-align:left;
}

#postListPostPanelImage {
	height: 50px;
	width: 50px;
}


#postListPostPanelDesc {
	height: 40px;
	width: 550px;
	padding-left: 2px;
}

#jobPostListPostPanelDesc {
	height: 40px;
	width: 600px;
	padding-left: 2px;
}


#postListPostPanelDetails {
	height: 20px;
	width: 550px;
	padding-left: 2px;
}

#postListPostPanelPrice {
	padding: 10px 0 0 0;
	height: 30px;
	width: 100px;
	text-align: center;
	font-weight: bold;
	font-size: 0.9em;
}

.postListPostPanelDetailsItem {
  	height:15px;
  	width:auto;
  	float:left;
  	text-align:left;
	font-size: 1em;
}

#postListPostPanelAddress {
	width: 300px;
}

#postListPostPanelCatgry {
	width: 140px;
}

#postListPostPanelDistance {
	width: 100px;
	text-align: center;
	font-weight: bold;
	font-size: 0.9em;
}

#postListPagination {
	width: 600px;
	font-weight: bold;
	font-size: 0.85em;
}

.postListPaginationLink {
	display: inline;
	margin: 0 5px 0 0;
}

#postListPagination a {
	color: #1f2a40;
	text-decoration: none;	
}

#postListPanelMine {
	border:1px solid #ccc;
	border-width: 0 1px 1px 1px 1px;
	background-color: #FFFFFF;	 	
	width: 720px;
	margin:0 auto;
	padding: 10px;
}

#postListPostPanelMine {
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc; 	
	height: 40px;
	width: 700px;
	margin-bottom: 10px; 
}

.postListPostPanelMineItem {
  	margin:2px;
  	height:35px;
  	width:auto;
  	float:left;
  	text-align:left;
  	vertical-align: middle;
}

#postListPostPanelMineImage {
	width: 35px;
}

#jobPostListPostPanelMineImage {
	width: 10px;
}


#postListPostPanelMine a {
	color: #1f2a40;
	font-weight: normal;
	text-decoration: none;
}

#postListPostPanelMine a:hover {
/*	background-color: #1f2a40;
	color: #ffffff;*/
}

#postListPostPanelMineTitle {
	width: 500px;
	padding: 5px 0 0 0;
}

#postListPostPanelMineUpdate, #postListPostPanelMineDelete {
	height: 30px;
	padding-top: 5px;
}

#postListPostPanelMineUpdate a, #postListPostPanelMineDelete a{
	color: #ffffff;
	background-color: #1f2a40;
	display: block;
	width: 60px;
	font-size: 0.9em;
	font-weight: normal;
	border-radius: 0.2em;
	-moz-border-radius: 0.2em;
	text-decoration: none;
	text-align: center;
	padding: 2px;
}

#postListPostPanelMineUpdate a:hover, #postListPostPanelMineDelete a:hover {
	background-color: #596274;
	color: #ffffff;
}

.postDelPanel {
	border:1px solid #ccc;
	border-width: 0 1px 1px 1px 1px;
	background-color: #FFFFFF;
	width: 650px;
	height: 150px;
	margin:0 auto;
	padding: 10px;
	color: #1f2a40;
}

#postDelMessage {
	padding: 10px;
	font-size: 1em;
	font-weight: normal;
}

.postDelActionRow {
  	margin:2px;
  	height:60px;
  	width:auto;
  	float:left;
  	text-align:left;
}

.postDelActionRow a {
	color: #1f2a40;
	font-weight: bold;
	font-size: 1em;
}

.postDelActionRow a:hover {
	/*color: #ffffff;
	background-color: #1f2a40;*/
}

#postDelActionYes, #postDelActionNo {
	padding: 5px;
}

#postDelActionYes a, #postDelActionNo a {
	color: #ffffff;
	background-color: #1f2a40;
	display: block;
	width: 60px;
	font-size: 1em;
	font-weight: normal;
	border-radius: 0.2em;
	-moz-border-radius: 0.2em;
	text-decoration: none;
	text-align: center;
}

#postListPostPanelPostLink {
	border:1px solid #ccc;
	border-width: 0 1px 1px 1px 1px; 	
	font-size: 1em;
	color: #1f2a40;
	text-align: left;
}

#postListPostPanelDescLink {
	color: #1f2a40;
	outline: medium none;
	text-decoration: underline;
}

#postPanel {
	background-color: #FFFFFF;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 5px;
	padding-bottom: 25px;
	width: 850px;
	height: auto;
	margin:0 auto;
}

#postPanelHeader {
}

.postPanelHeaderRow {
  	margin:5px;
  	height:auto;
  	width:auto;
  	float:left;
  	text-align:left;
}


#postPanelTitle {
	color: #1f2a40;
	font-weight: bold;
	width: 610px;
	font-size: 1.4em;
	margin-bottom: 0.5em;
}

#postPanelShare {
	width: 210px;
}

#postPanelDetails {
	color: #1f2a40;
	margin-bottom: 10px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.postPanelDetailsRow {
  	margin:5px;
  	height:auto;
  	width:auto;
  	float:left;
  	text-align:left;
}

.postPanelDetailsLbl {
	width: 70px;
	text-align:right;
}

.postPanelDetailsVal {
	width: 300px;
}

#postPanelActionRow {
	/*border:1px solid #ccc;
	border-width: 0 1px 1px 1px 1px;*/ 	
	height: 20px;
	width: 500px;
	margin:0 auto;
	margin-bottom: 10px; 
}

#postPanelActionRow li {
	float: left;
	list-style-type: none;
	margin-left: 10px;
}

#postPanelActionRow li a {
	color: #ffffff;
	background-color: #1f2a40;
	display: block;
	width: 120px;
	font-size: 0.9em;
	font-weight: bold;
	padding: 2px;
	border-radius: 0.2em;
	-moz-border-radius: 0.2em;
	text-decoration: none;
	text-align: center;
}

#postPanelActionRow li a:hover {
	color: #ffffff;
	background-color: #596274;
}

#postPanelDesc {
	color: #1f2a40;
	margin-bottom: 2em;
}

.imageRow {
  	margin:5px;
  	height:auto;
  	width:auto;
  	float:left;
  	text-align:left;
}

.imageItem {
	width: 320px;
	height: 200px;
	margin: 5px;
}

.postImageItem {
	margin: 5px;
	border: 1px solid #ccc;
}

#sendMail, #sett {
	background-color: #FFFFFF;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 5px;
	padding-bottom: 25px;
	width: 750px;
	margin:0 auto;
}

#sett {
	width: 600px;
	padding-left: 30px;
}

#settNav {
	/*border:1px solid #ccc;
	border-width: 0 1px 1px 1px 1px;*/ 	
	height: 25px;
	width: 320px;
	margin:0 auto;
	margin-bottom: 10px; 
}

#settNav li {
	float: left;
	list-style-type: none;
	margin-left: 1px;
}

#settNav li a {
	color: #ffffff;
	background-color: #1f2a40;
	display: block;
	width: 150px;
	font-size: 1em;
	font-weight: bold;
	padding: 2px;
	border-radius: 0.2em;
	-moz-border-radius: 0.2em;
	text-decoration: none;
	text-align: center;
}


#settNav li a:hover {
	color: #ffffff;
	background-color: #596274;
}
